.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: left;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-row > * {
  margin-bottom: 10px;
}

.prompts {
  display: flex;
  flex-direction: column;
}

.prompt-row {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.prompt-row h3 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.prompt-row p {
  font-family: monospace;
  margin: 0;
}

.prompt-row span {
  font-style: italic;
  opacity: 0.7;
}

.prompt-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.prompt-actions button {
  margin-left: 5px;
  padding: 5px 10px;
  font-size: 14px;
}

.prompt-title {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.prompt-text {
  font-style: normal;
  font-family: monospace;
  font-size: 20px;
}

.prompt-description {
  font-style: italic;
  opacity: 0.7;
  margin-top: 10px;
}

textarea {
  resize: none;
  overflow: hidden;
  width: 100%;
  height: auto;
  min-height: 50px;
}